beautifulsoup4==4.9.1
cffi>=1.15.1
Django>=4.2,<5.0
django-bootstrap4==1.1.1
django-misaka==0.2.1
gunicorn==23.0.0
houdini.py==0.1.0
packaging==24.2
Pillow==11.3.0
pycparser==2.20
Pygments==2.6.1
pytz==2020.1
soupsieve==2.0.1
sqlparse==0.3.1
whitenoise==6.9.0
