Django>=4.2,<5.0
gunicorn==23.0.0
whitenoise==6.9.0
Pillow==11.3.0
beautifulsoup4==4.9.1
django-bootstrap4==1.1.1
sqlparse==0.3.1
pytz==2020.1
Pygments==2.6.1
soupsieve==2.0.1
packaging==24.2
pycparser==2.20
cffi>=1.15.1